<div id="searchWell" class="one column stackable ui grid">
  <div class="column">
    <div class="ui segment">
      <h2>Favorited Posts</h2>
      
      {{#each post in model}}
        <li>{{post.score}}  -  {{post.title}}</li>
      {{/each}}
    </div>
  </div>
</div>
