<div id="searchWell" class="one column stackable ui grid">
  <div class="column">
    <div class="ui segment">
      <h3 id="gridHeader">SubReddit Search Page</h3>

      {{log model}}

      {{#each subreddit in model}}

      <li>
        {{#link-to "posts" subreddit.data.display_name}}
        <strong>{{subreddit.data.display_name}}</strong>
        {{/link-to}}
      </li>

      {{/each}}
    </div>
  </div>
</div>
